<p-dialog [(header)]="tituloDialog" [(visible)]="display" modal="modal" [responsive]="true" [width]="700" [minWidth]="200" [positionTop]="80" (onHide)="onClose()">
  <form [formGroup]="frmpesqservico" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-2">
        <label for="codigoServico">Código:</label>
      </div>
      <div class="col-md-2">
        <input id="codigoServico" type="text" pInputText formControlName="codigoServico" (keypress)="numberOnly($event)" />
      </div>
      <div class="col-md-8">
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <label for="descricaoServico">Descrição:</label>
      </div>
      <div class="col-md-8">
        <input id="descricaoServico" type="text" pInputText formControlName="descricaoServico" />
      </div>
      <div class="col-md-2">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <button pButton type="submit" label="Pesquisar" class="ui-button-rounded ui-button-success"></button>
        <button pButton type="button" label="Cancelar" class="ui-button-rounded ui-button-success" (click)="onClose()"></button>
      </div>
    </div>
    <div id="dataTable">
      <p-dataTable [value]="servMedicos" [rows]="5" [paginator]="true">
        <p-column [style]="{'width':'5%', 'text-align':'center'}" header="Sel." >
          <ng-template let-col let-node="rowData" pTemplate="body">
              <i class="fa fa-info-circle" title="Selecionar Serviço" (click)="selecionarServico(node)"></i>
          </ng-template>
        </p-column>
        <p-column [style]="{'width':'10%'}" field="codigo" header="Código" ></p-column>
        <p-column [style]="{'width':'11%', 'text-align':'center'}" field="dig_verificador" header="Díg. Verificador" ></p-column>
        <p-column [style]="{'width':'69%'}" field="descricao_servico" header="Descrição" ></p-column>
      </p-dataTable>
    </div>
  </form>
  </p-dialog>
