#icon1, #icon2, #icon3{
    text-align: center;
    margin-top: 5%;
    border-radius: 10px;
    border: 3px solid #0A5F55;
    border-width: thin;
    cursor: pointer;
}

#icon1:hover, #icon2:hover, #icon3:hover{
    background-color:  #f2f2f2 !important;
  }

i {
    color: #0A5F55;
    font-size: 100px;
}

p {
    color: #0A5F55;
    font-size: 25px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.container{
    margin-top: 25px;
}

.jumbotron{
    background-color: white;
}

::ng-deep .ui-messages{
    background-color: #e6e6e6;
    border-color: #e6e6e6;
    color: black; 
}